<div class="container">
  <p>Retrouvez nous sur les réseaux sociaux</p>
  <div class="RS-div">

    <div>
      <a href="" class="fa fa-facebook"> Facebook</a>
      <br>

      <a href="https://www.instagram.com/maisondola_events/" class="fa fa-instagram"> Instagram</a>
    </div>
  </div>


  

    
</div>
<p>Venez nous voir sur le Marché de Dordives, tout les vendredi entre 9h et 12h</p>
<div class="Marche-div">

       
            <img src="./assets/image//marche1.jpg">
       


            <img src="./assets/image/marche2.jpg">
       
    
            <img src="./assets/image/marche3.jpg">
       

    </div>


