<script src="https://kit.fontawesome.com/48764efa36.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
        

<br>
<p>Venez nous voir sur le Marché de Dordives, tout les vendredi entre 9h et 12h</p>

<br>

<section class="slider-wrapper">
  <!-- Menu déroulant de photos du marché -->
  <button class="slide-arrow" id="slide-arrow-prev">
    &#8249;
  </button>
  
  <button class="slide-arrow" id="slide-arrow-next">
    &#8250;
  </button>
  
  <ul class="slides-container" id="slides-container">
    <li class="slide" >
      <img  src="assets/image/marche1.jpg" alt="Photo marché 1"/>
    </li>
    <li class="slide" >
      <img  src="assets/image/marche2.jpg" alt="Photo marché 2"/>
    </li>
    <li class="slide" >
      <img  src="assets/image/marche3.jpg" alt="Photo marché 3"/>
    </li>
    <li class="slide" >
      <img  src="assets/image/marche5.jpg" alt="Photo marché 5"/>
    </li>
    <li class="slide" >
      <img  src="assets/image/marche5.jpg" alt="Photo marché 5"/>
    </li>
    <li class="slide" >
      <img  src="assets/image/marche5.jpg" alt="Photo marché 5"/>
    </li>
    <li class="slide" >
      <img  src="assets/image/marche5.jpg" alt="Photo marché 5"/>
    </li>
    <li class="slide" >
      <img  src="assets/image/marche5.jpg" alt="Photo marché 5"/>
    </li>
  </ul>
</section>


<div class="container">
  <p>Retrouvez nous sur les réseaux sociaux</p>
<br>
  <div class="RS-div"> 
    <!-- intégration lien Réseau Sociaux -->

    <div>
      <a href="https://www.facebook.com/p/Maison-Marie-Traiteur-100084033617595/" class="fa fa-facebook"> Facebook</a>
      
     

      <a href="https://www.instagram.com/maisondola_events/" class="fa fa-instagram"> Instagram</a>
    </div>
  </div>
    
</div>


<!-- Ajouter plus de photos aumenu déroulant -->