<div class="home-container">
    <h2>Bienvenue</h2>
    <article id="article1">
        Bienvenue sur le site de l’entreprise Marie Traiteur, Traiteur familial qui propose un service et une
        expérience originale mélangeant cuisine Française et Africaine, toujours dans l’esprit de la devise
        d’entreprise : Imaginez votre évenement, nous le réalisons !
    </article>
</div>

<div class="home-container">
    <h2>Presentation de l'entreprise</h2>
    <article id="article2">
        La micro entreprise Marie Traiteur est une entreprise de service de traiteur mais réalise aussi des plats à
        emporter.<br>
        Située dans la région du Loiret, elle a été crée en 2022 par Madame Dola Venadiambu,<br>qui possède un
        diplôme en Cuisine et en Pâtisserie avec une expérience de plus <br> de 40 ans en cuisine française, elle
        propose des produits issue de la cuisine française<br> mais aussi des produits issue de la cuisine africaine.
    </article>
</div>


<!-- Ajouter intégration poste Réseaux sociaux -->