.face-snap-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: #ffffff;
    font-size: 20px;


    h2 {
        margin-bottom: 0;
        font-size:  20px;
        font-weight: bold;
    }

}

#article2 {
    color: #000000;
}

#article1 {
    color: #000000;
}